site_name: University of Arizona DataLab 
site_description: Training materials on Data Science tools and methods for data analysis and modeling. 
site_author: DataLab Team
site_url: https://ua-datalab.github.io

#
# Repository
docs_dir: docs/
repo_name: 'University of Arizona-DataLab'
repo_url: 'https://github.com/ua-datalab/ua-datalab.github.io'
edit_uri: edit/main/docs/

# Copyright
copyright: 'Copyright &copy; 2024 UArizona DataLab'

site_description: 'The University of Arizona DataLab supports multiple ways to improve research, provides career opportunities, facilitates industry partnerships, and encourage innovation and entrepreneurship at our University.'

nav:
  - 'Home':
    - 'Home': index.md
    - 'About': about.md
    - 'DataLab Team': members.md
    - 'Data Science Ecosystem': DSecosystem.md
    - 'Consultations': consultations.md
    - 'Events Calendar': events.md
    - 'AI/ML Development': apps-dev.md
    - 'Ai-VERDE': aiverde.md
    - 'Capstone Projects': capstone.md
    - 'LEAD Program': mlpaths_grids.md
    - 'TREX: Training for Research Experience' : 'https://github.com/ua-datalab/TREX/wiki' 
    - 'PHIRE': phire.md
    - 'AI Lab': ai-lab.md


theme: 
  name: material
  logo: images/UADLSquareLogo.png

  # setting features for the navigation tab
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.progress
    - navigation.expand
    - navigation.path
    - navigation.tracking
    - navigation.sections
    - navigation.indexes
    - navigation.footer
    - navigation.top
    - toc.integrate
    - toc.follow
  hide:
    - toc
# 404 page
  static_templates:
    - 404.html

  # Search feature
  include_search_page: false
  search_index_only: true


# Default values, taken from mkdocs_theme.yml
  language: en
  palette:
  # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: deep purple
      toggle:
        icon: material/brightness-3
        name: Switch to dark mode
  # Palette toggle for dark mode	
    - media: "(prefers-color-scheme: light)"
      scheme: slate
      primary: black
#      primary: #AB0520
      accent: orange 
      toggle:
        icon: material/brightness-7
        name: Switch to light mode
  font:
    text: Roboto
    code: Regular
  favicon: assets/favicon.png  
  icon:
    logo: logo

extra_css:
    - https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css

extra:
  social:
    - icon: fontawesome/solid/school
      link: https://www.datascience.arizona.edu/education/uarizona-data-lab
    - icon: fontawesome/brands/github
      link: https://github.com/ua-datalab
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/uarizona-datalab/
    - icon: fontawesome/brands/bluesky
      link: https://bsky.app/profile/uarizonadatalab.bsky.social
    - icon: fontawesome/brands/facebook
      link: https://www.facebook.com/profile.php?id=61556132138807
    - icon: fontawesome/brands/youtube
      link: http://www.youtube.com/@UArizonaDataLab
    - icon: fontawesome/brands/slack
      link: https://uadatascience.slack.com/archives/C062QJ91PTP

  analytics:
    provider: google
    property: G-J75WXHX6HC


# Extensions
markdown_extensions:
  - admonition
  - abbr
  - attr_list
  - def_list
  - footnotes
  - meta
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      repo_url_shorthand: true
      user: squidfunk
      repo: mkdocs-material
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

plugins:
    - search
    - mkdocstrings
    - git-revision-date
    - mkdocs-jupyter:
          include_source: True
          ignore_h1_titles: True     
# Copyright
copyright: 'Creative Commons BY-NC-SA 4.0'


